@import url('https://fonts.googleapis.com/css2?family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

body.rps {
    background-color: rgba(120, 4, 122, 0.911);
    font-family: 'Grenze', monospace; 
    font-size: xx-large;
    color: #333; 
    margin-bottom: 10px;
    padding: 10px;
    
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.text-center img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.card {
    background-color: #a8daeb; 
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-outline-primary, .btn-outline-secondary, .btn-outline-success {
    font-size: 1.25em; 
    padding: 10px 20px; 
    border-width: 2px; 
    border-radius: 10px; /* Rounded corners */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    margin: 5px; 
}

/* Rock */
.btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}

.btn-outline-primary:hover, .btn-outline-primary:focus {
    background-color: #007bff;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

/* Paper */
.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus {
    background-color: #6c757d;
    color: #fff;
    box-shadow: 0 0 10px rgba(108, 117, 125, 0.5);
}

/* Scissors */
.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
}

.btn-outline-success:hover, .btn-outline-success:focus {
    background-color: #28a745;
    color: #fff;
    box-shadow: 0 0 10px rgba(40, 167, 69, 0.5);
}

